@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Outfit' ;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.container{
  width: 350px;
  margin: auto;
  border-radius: 10px;
}

.content{
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  text-align: center;
  margin: 0 1rem;
}

.content img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.texto{
  padding: 10px 0;
}

.texto h2{
  color: hsl(218, 44%, 22%);
  padding-bottom: 15px;
}

.texto p{
  color: hsl(220, 15%, 55%);
}
